<%-include('header.ejs')%>
    <!-- 여기서부터 -->

    <select id="chatroom">
        <option value="test_1">채팅방1</option>
        <option value="test_2">채팅방2</option>
        <option value="test_3">채팅방3</option>
    </select>
    <br>
    <input id="message" type="text" placeholder="내용">
    <button onClick="sendMessage()">전송</button>
    <div id="chatlog"></div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        console.log(window.location)
        const baseUrl = window.location.origin;
        const selectedRoom = document.getElementById('chatroom');
        const inputMessage = document.getElementById('message');
        const chatLog = document.getElementById("chatlog");
        let lastUserId = null;

        // Socket.IO 클라이언트 연결
        const socket = io();

        // 선택창
        selectedRoom.addEventListener('change', function (event) {
            const roomValue = event.target.value;
            loadchat(roomValue);
        });

        // 엔터키
        inputMessage.addEventListener('keypress', function (event) {
            if (event.key === 'Enter' && inputMessage.value) {
                event.preventDefault();
                sendMessage();
            }
        });

        // 메세지 전송
        function sendMessage() {
            const message = inputMessage.value.trim();
            const jsonMessage = { "message": message };
            socket.emit('message', JSON.stringify(jsonMessage));
            inputMessage.value = '';
        }

        // 메세지 수신
        socket.on('message', (data) => {
            try {
                const receivedData = JSON.parse(data);
                receiveMessage(receivedData);
            } catch (error) {
                console.error("Wrong Format");
            }
        });

        // 기타 기능
        function receiveMessage(data) {
            var newMessage = document.createElement('div');
            newMessage.textContent = `[${data.id}] ${data.message}`;
            chatLog.appendChild(newMessage);

            // input 필드를 비웁니다
            document.getElementById('userInput').value = '';
        }
    </script>

    <!-- 여기까지 -->
    <%-include('footer.ejs')%>