<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERFACE</title>
</head>

<body>
    <header>
        <!-- 여기서부터 -->

        <h1>홈페이지</h1>
        <nav>
            <a href="/">메인페이지</a>
            <a href="/swagger">API(Swagger)</a>
            <a href="/todolist">Todo리스트</a>
            <a href="/register">회원가입</a>
            <a href="/login">로그인</a>
        </nav>
        <br>
        <hr>

        <!-- 여기까지 -->
    </header>