<%-include('header.ejs')%>
    <!-- 여기서부터 -->

    <h2> 로그인 성공!! </h2>
    <button id="logoutButton" type="button" onclick="logout()">로그아웃</button>

    <script>
        function logout() {
            fetch("http://localhost:3000/logout")
                .then(response => {
                    if (response.ok) { return response.json(); }
                    else if (response.status === 400) { throw new Error("사용자가 로그인되어있지 않습니다."); }
                    else { throw new Error('로그아웃 중 문제가 발생했습니다. 다시 시도해주세요.'); }
                })
                .then(data => {
                    alert("로그아웃 성공!");
                    window.location.reload();
                })
                .catch(error => { alert(error.message); });
        }
    </script>

    <!-- 여기까지 -->
    <%-include('footer.ejs')%>