<%-include('header.ejs')%>
    <!-- 여기서부터 -->

    <h2> 로그인 성공!! </h2>
    <button id="refreshButton" type="button" onclick="refresh()">토큰재발급</button>
    <button id="logoutButton" type="button" onclick="logout()">로그아웃</button>

    <script>
        const baseUrl = window.location.origin;

        function refresh(){
            fetch(`${baseUrl}/tokenRefresh`)
                .then(response => {
                    if (response.ok) {
                        alert("토큰 재발급 성공!");
                        location.reload();
                    }
                    else { alert("토큰 재발급 실패!") }
                })
        }

        function logout() {
            fetch(`${baseUrl}/logout`)
                .then(response => {
                    if (response.ok) {
                        alert("로그아웃 성공!");
                        location.reload();
                    }
                    else { alert("로그아웃 실패!") }
                })
        }
    </script>

    <!-- 여기까지 -->
    <%-include('footer.ejs')%>