<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERFACE</title>
</head>
<body>
    <h2>죄송합니다. 요청하신 페이지를 찾을 수 없습니다.</h2>
    <a href="/">메인페이지</a>
</body>
</html>